.product {
  position: relative;
  z-index: 1;
  padding: 150px 0 100px;
  box-shadow: var(--shadow-default);
  background: var(--color-bg-primary);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__content {
    display: grid;
    grid-template-columns: 710px 1fr;
    column-gap: 28px;
    row-gap: 30px;
  }
}