.page {
  margin: 160px 0 0;
}

.catalog {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin: 150px auto 100px;

  &__content {
    display: flex;
    gap: 47px;
  }

  &__filter {
    flex: 1 0 auto;
    min-width: 300px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    column-gap: 18px;
    row-gap: 52px;
  }
}